<?xml version="1.0"?>
<config>
    <modules>
        <MR_ProductExpirationController>
            <version>1.0.0</version>
        </MR_ProductExpirationController>
    </modules>
    <global>
        <helpers>
            <mr_productexpirationcontroller>
                <!-- Helper definition needed by Magento -->
                <class>Mage_Core_Helper</class>
            </mr_productexpirationcontroller>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foo_bar before="Mage_Adminhtml">MR_ProductExpirationController_Adminhtml</foo_bar>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>